:root {
    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-size-lg: 24px;
    --font-size-xl: 36px;

    --line-height-sm: 16px;
    --line-height-md: 20px;
    --line-height-lg: 24px;
    --line-height-xl: 32px;
    --line-height-xxl: 64px;

    --letter-spacing-05: 0.5px;

    --color-gray: #9093A6;
    --color-gray-dark: #3F4255;
    --color-gray-light: #D4D7E5;
    --color-gray-extra-light: #F2F4FA;
    --color-yellow-bright: #FFE145;
}